<% include ./header.ejs %>
<br>
<br>
<br>
<html>
<head>
</head>
<% if(content.length>0){ %>
<div class="container">
    <br><br>

    <center><h1>리뷰 게시판</h1></center>
    <br><br>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="id">번호</th>
                <th class="title">제목</th>
                <th class="writer">작성자</th>
                <th class="date">작성날짜</th>
                <th class="score">조회수</th>

            
            </tr>
        </thead>
        <tbody>
            <% var i=0; %>
            <% content.forEach(function(item){ %>
            <% i++; %>
            <tr>
                <td class="id"><%= i %></td>
                <td class="title"><a href="/store?id=<%= item._id %>"><%= item.reviewtitle %></a></td>
                <td class="writer"><%= user.nickname %></td>
                <td class="date"><%= dateFormatChange(item.date) %></td>
                <td class="score"><%= item.count %></td>
            </tr>
            <% }) %>
            <% } else{ %>
            <tr>
                <td colspan="5" align="center">게시물이 없습니다.</td>
            </tr>
            <% } %>
        </tbody>
    </table>
    </div>
        <center>
<div class="pagination">
<
<%
 for(var i=1; i<=pagination; i++){
  %>
<a href="/board?page=<%=i%>" class="next-page"> <%=i%> </a>
<%}%>
>        
</div></center>

<div class="jumbotron text-center">
    <img src="../public/image/logo.jpg" width="50" height="50">
    <p align="center"> FoodTrip &copy;</p>
    </div>

    
    
<% function dateFormatChange(date){
    var options={
        weekday:"short",year:"numeric",month:"short",   
        day:"numeric",hour:"2-digit",minute:"2-digit"
    };
    return date.toLocaleTimeString("ko-KR",options);
} %>
      
    </body>
</html>
