<% include ./header.ejs %>
<br>
<br>
<br>
<% if(content.length>0){ %>
<div class="container">
    <br><br>
    <br><br>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성날짜</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
            <% var i=0; %>
            <% content.forEach(function(item){ %>
            <% i++; %>
            <tr>
                <td class="number"><%= i %></td>
                <td class="title"><a href="/store?id=<%= item._id %>"><%= item.reviewtitle %></a></td>
                <td class="writer"><%= user.nickname %></td>
                <td class="date"><%= dateFormatChange(item.date) %></td>
                <td class="cnt"><%= item.count %></td>
            </tr>
            <% }) %>
            <% } else{ %>
            <tr>
                <td colspan="5" align="center">게시물이 없습니다.</td>
            </tr>
            <% } %>
        </tbody>
    </table>
<% function dateFormatChange(date){
    var options={
        weekday:"short",year:"numeric",month:"short",
        day:"numeric",hour:"2-digit",minute:"2-digit"
    };
    return date.toLocaleTimeString("ko-KR",options);
} %>
      </div>
    </body>
</html>
