<% include ./header.ejs %>
<br>
<br>
<br>
    <div class="container">
        <br><br>
        <center><h1>맛집 게시판</h1></center>
        <div class="form-group">
        <label for="reviewstore">가게이름  </label><%=content.reviewstore%></div>
        <div class="form-group">
        <label for="reviewtitle">운영시간  </label><%=content.reviewtitle%></div>
        <div class="form-group">
        <label for="reviewscore">메뉴</label>
            <%=content.reviewscore%>
        <label for="reviewscore">가격</label>
            <%=content.reviewscore%>
        <label for="reviewscore">메뉴</label>
            <%=content.reviewscore%>
        <label for="reviewscore">가격</label>
            <%=content.reviewscore%>
        <label for="reviewscore">메뉴</label>
            <%=content.reviewscore%>
        <label for="reviewscore">가격</label>
            <%=content.reviewscore%>    
        </div>
        <div class="form-group">
        <label for="reviewscore">주소</label>
            <%=content.reviewscore%>
        </div>
        <div class="form-group">
        <label for="reviewcontent">전화번호</label>
            <%=content.reviewcontent%>
        </div>
        <a href="/share" class="btn btn-warning"><span class="glyphicon glyphicon-log-in"></span>게시판으로</a>
    
    </div>

    <div class="jumbotron text-center">
    <img src="../public/image/logo.jpg" width="50" height="50">
    <p align="center"> FoodTrip &copy;</p>
    </div>
      

    </body>
</html>