<% include ./header.ejs %>
<br>
<br>
<br>
     <div id="total">
        
        <div id="nav">
        <image src="<%=matzip.file%>"width="200" height="200">
        </div>
        <div id="section">
        <pre>
        <div >
        <pre class="label label-default">가게이름 :</pre> <%=matzip.storename%>
        
        <pre class="label label-default">운영시간 :</pre> <%=matzip.storetime%>
        
        <table>
        <tr>
        <td>       </td>
        <td><pre class="label label-default">메뉴 :</pre> <%=matzip.storemenu1%>          </td>      
        <td><pre class="label label-default">가격 :</pre> <%=matzip.storeprice1%> </td>
        </tr><tr>
        <td>        </td>
        <td><pre class="label label-default">메뉴 :</pre> <%=matzip.storemenu2%>          </td>      
        <td><pre class="label label-default">가격 :</pre> <%=matzip.storeprice2%></td>
        </tr><tr>
        <td>        </td>
        <td><pre class="label label-default">메뉴 :</pre> <%=matzip.storemenu3%>           </td>     
        <td><pre class="label label-default">가격 :</pre> <%=matzip.storeprice3%></td> 
        </tr>   
        </table>
        
        <pre class="label label-default">주소 :</pre> <%=matzip.storeaddress%>
        
        <pre class="label label-default">전화번호 : </pre> <%=matzip.storetel%>
        </div>
        <div id="footer" align="right">
        <a href="/share" class="btn btn-warning"><span class="glyphicon glyphicon-log-in"></span>게시판으로</a>
        </div>
        </pre>          
        </div>
       
         
    <div class="jumbotron text-center">
    <img src="../public/image/logo.jpg" width="50" height="50">
    <p align="center"> FoodTrip &copy;</p>
    </div>
      </div>

    </body>
</html>