<% include ./header.ejs %>
<br>
<br>
<br>
    <div class="container">
        <br><br>
        <center><h1>맛집 게시판</h1></center>
        <div class="form-group">
        <label for="storename">가게이름  </label><%=matzip.storename%></div>
        <div class="form-group">
        <label for="storetime">운영시간  </label><%=matzip.storetime%></div>
        <div class="form-group">
        <label for="storemenu1">메뉴</label>
            <%=matzip.storemenu1%>
        <label for="storeprice1">가격</label>
            <%=matzip.storeprice1%>
        <label for="storemenu2">메뉴</label>
            <%=matzip.storemenu2%>
        <label for="storeprice2">가격</label>
            <%=matzip.storeprice2%>
        <label for="storemenu3">메뉴</label>
            <%=matzip.storemenu3%>
        <label for="storeprice3">가격</label>
            <%=matzip.storeprice3%>    
        </div>
        <div class="form-group">
        <label for="storeaddress">주소</label>
            <%=matzip.storeaddress%>
        </div>
        <div class="form-group">
        <label for="storetel">전화번호</label>
            <%=matzip.storetel%>
        </div>
        <a href="/share" class="btn btn-warning"><span class="glyphicon glyphicon-log-in"></span>게시판으로</a>
    
    </div>

    <div class="jumbotron text-center">
    <img src="../public/image/logo.jpg" width="50" height="50">
    <p align="center"> FoodTrip &copy;</p>
    </div>
      

    </body>
</html>