<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title><%= title %></title>
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	
    	<style>
        	body { padding-top:80px; }
            div#total
            {
            margin: auto;    
            max-width:60%;
            }
            #nav
            {
            margin: auto;
            padding:80px 120px;
            height: 300px;
            width: 300px;
            float:left;

            }
            #section
            {
            margin: auto;
            padding:20px 80px;
            min-height:200px;
            }
            #footer{
            padding-right: 2cm;
            }

            th.id{
                width:100px;
                text-align: center;
            }
            th.title{
                text-align: center;
            }
            th.writer {
                width:150px;
                text-align: center;
            }
            th.date {
                width:250px;
                text-align: center;
            }
            th.score {
                width:100px;
                text-align: center;
            }
             td.id{
                width:100px;
                text-align: center;
            }
            td.title{
                text-align: center;
            }
            td.writer {
                width:150px;
                text-align: center;
            }
            td.date {
                width:250px;
                text-align: center;
            }
            td.score {
                width:100px;
                text-align: center;
            }
			@font-face {
				font-family: 'Nanum Gothic'; font-style: normal; font-weight: 400;
				src: url('../public/NanumGothic-Regular.eot');
				src: local('NanumGothic'),
					url('../public/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
					url('../public/NanumGothic-Regular.woff2') format('woff2'),
					url('../public/NanumGothic-Regular.woff') format('woff'),
					url('../public/NanumGothic-Regular.ttf') format('truetype');
			}
        	
        	h1, p, a { font-family: 'Nanum Gothic' }
    	</style>
    <script>
         function searchContent() {
            if($('#searchWord').val == ''){
                alert("검색어를 입력해주세요!!!");
            } else {
                $('#searchAction').submit();
            }
        }
    </script>

    
	</head>
	<body>
		 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FoodTrip</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/share">맛집게시판</a></li>
            <li><a href="/enroll">맛집등록</a></li>
            <li><a href="/reserve">맛집예약</a></li>
            <li><a href="/redetail">맛집리뷰</a></li>
            <li><a href="/board">맛집공유</a></li>
          </ul>
            
            <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
            <br>
            <pre style="font-family:verdana;font-size:12pt;font-weight:bold;"><%= user.nickname %>   <a href="/logout" class="btn btn-warning"><span class="glyphicon glyphicon-log-in"></span>로그아웃</a></pre>
            </form>
        </div>
      </div>
    
    <div style=font-family:verdana;font-size:11pt;font-weight:bold;color:#ffffff;><%= enroll %></div>

    </nav>
<br>
<br>
<br>
<% if(matzip.length>0){ %>
<div class="container">
    <br><br>
    <center><h1>맛집 게시판</h1></center>
    <br><br>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="id">번호</th>
                <th class="title">맛집 이름</th>
                <th class="writer">작성자</th>
                <th class="date">작성날짜</th>
                <th class="score">조회수</th>


            </tr>
        </thead>
        <tbody>
            <% var i=0; %>
            <% matzip.forEach(function(item){ %>
            <% i++; %>
            <tr>
                <td class="id"><%= i %></td>
                <td class="title"><a href="/sharestore?id=<%= item._id %>"><%= item.storename %></a></td>
                <td class="writer"><%= user.nickname %></td>
                <td class="date"><%= dateFormatChange(item.date) %></td>
                <td class="score"><%= item.count %></td>
            </tr>
            <% }) %>
            <% } else{ %>
            <tr>
                <td colspan="5" align="center">게시물이 없습니다.</td>
            </tr>
            <% } %>
        </tbody>
    </table>
        </div>
     <center>
<div class="pagination">
<
<%
 for(var i=1; i<=pagination; i++){
  %>
<a href="/board?page=<%=i%>" class="next-page"> <%=i%> </a>
<%}%>
>        
</div></center>
    
     <form class="navbar-form navbar-right"  action="/search" method="get" id="searchAction" name="searchAction">
        <div class ="search">
                <input type="text" class="search_word" id="searchWord" name="searchWord" placeholder="내용을 입력하세요.">
                <a href="#" onclick="searchContent();"><button class="btn btn-default glyphicon glyphicon-search ">검색</button></a>
         </div>
    </form>

    <form class="navbar-form navbar-right"  action="/search" method="get" id="searchAction" name="searchAction">
        <div class ="search">
                <input type="text" class="search_word" id="searchWord" name="searchWord" placeholder="내용을 입력하세요.">
                <a href="#" onclick="searchContent();"><button class="btn btn-default glyphicon glyphicon-search ">검색</button></a>
         </div>
    </form>
    
    <div class="jumbotron text-center">
    <img src="../public/image/logo.jpg" width="50" height="50">
    <p align="center"> FoodTrip &copy;</p>
    </div>
    
<% function dateFormatChange(date){
    var options={
        weekday:"short",year:"numeric",month:"short",
        day:"numeric",hour:"2-digit",minute:"2-digit"
    };
    return date.toLocaleTimeString("ko-KR",options);
} %>

      </div>
    </body>
</html>
