<% include ./header.ejs %>
<br>
<br>
<br>
    <div id="total">
        <center><h2>리뷰 게시판</h2></center>

        <div id="nav">
        <image src="<%=content.file%>"width="200" height="200">
        </div>
        <div id="section">
        <pre>
        <div class="form-group">
        <pre class="label label-default">맛집 :</pre> <%=content.reviewstore%>
        
        <pre class="label label-default">제목 :</pre> <%=content.reviewtitle%>
       
        <pre class="label label-default">작성일자 :</pre> <%=dateFormatChange(content.date)%> 
        
        <pre class="label label-default">평점 :</pre> <%=content.reviewscore%> 점

        <pre class="label label-default">내용 :</pre> 
        
        <%=content.reviewcontent%>
        </div>
        <div id="footer" align="right">
        <a href="/board" class="btn btn-warning"><span class="glyphicon glyphicon-log-in"></span>게시판으로</a>
        </div>
        </pre>        
        </div>
       
    

    <div class="jumbotron text-center">
    <img src="../public/image/logo.jpg" width="50" height="50">
    <p align="center"> FoodTrip &copy;</p>
    </div>
</div>      
    
    <% function dateFormatChange(date){
    var options={
        weekday:"short",year:"numeric",month:"short",
        day:"numeric",hour:"2-digit",minute:"2-digit"
    };
    return date.toLocaleTimeString("ko-KR",options);
} %>
    </body>
</html>